
@model List<ProductWithCategoryDto>
@{
    Layout = null;
}

<!DOCTYPE html>

<table class="table table-striped">
    <thead>
        <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Price</td>
        <td>Stock</td>
        <td>Category</td>
        <td>CreatedDate</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <th>@item.Price</th>
            <th>@item.Stock</th>
            <th>@item.Category</th>
            </tr>
        }

    </tbody>

</table>